* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ribbon: #a0d6b4;
    --accent: #a0d6b4;
    --dark: #1a1a2e;
    --darker: #16213e;
    --light: #eee;
    --text: #000000;
}


    




body {
    font-family: Tahoma;
    color: var(--light);
    line-height: 1.6;
    overflow-x: hidden;
    
    background: #eee;
}







ribbon {
    position: fixed;
    width: 100%;
    padding: 1rem 1rem;
    background: #a0d6b4;
    font-size: 1.5rem;   
    z-index: 100;
    display: block;
}


.ribbon-container {
    max-width: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}


.ribbon-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    text-align: center;
}

    .ribbon-links a {
        color: var(--light);
        text-decoration: none;
        position: relative;
    }

        .ribbon-links a:hover {
            color: var(--text);
        }







section {
    padding: 6rem 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.section-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--accent);
}










/* Profile */
.profile-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    align-items: center;
}

.profile-text {
    font-size: 1.1rem;
    color: var(--text);
    line-height: 1.8;
}


.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

    .profile-img:hover {
        transform: scale(1.05);
    }











/*Skills*/
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    
}


.skill-category {
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid var(--accent);
    transition: transform 0.3s ease;
    color: var(--text);
}

    .skill-category:hover {
        transform: scale(1.07);
    }



.skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skill-bar {
    width: 60%;
    height: 8px;
    background: #eee;
    border-radius: 5px;
}

.skill-progress {
    height: 100%;
    background: var(--accent);
    border-radius: 4px;
}


/*Work*/
.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}


.work-category {
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid var(--accent);
    transition: transform 0.3s ease;
    color: var(--text);
}

    .work-category:hover {
        transform: scale(1.07);
    }
.work-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    font-size: 1.2rem;
}








.results {
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}
    .results:hover{
        transform: scale(1.5);
    }







.per-grid {
    display: grid;
    grid-template-columns: repeat(auto, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.per-category {
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid var(--accent);
    transition: transform 0.3s ease;
    color: var(--text);
}

    .per-category:hover {
        transform: scale(1.07);
    }


.socials-item {
    font-size: 2rem;
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    
}





