* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ribbon: #003333;
    --secondary: #764ba2;
    --accent: #f093fb;
    --dark: #1a1a2e;
    --darker: #16213e;
    --light: #eee;
    --text-light: #a8a8a8;
}

body {
    font-family: Tahoma;
    color: var(--light);
    line-height: 1.6;
    overflow-x: hidden;
    background-color: #006666;
}







nav {
    position: fixed;
    width: 100%;
    padding: 1rem 1rem;
    background: var(--ribbon);
    font-size: 2rem;
}


.nav-container {
    max-width: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}



/*The way the labels are displayed in the navigation bar*/
.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    text-align: center;
}

    .nav-links a {
        color: var(--light);
        text-decoration: none;
        position: relative;
    }

        .nav-links a:hover {
            color: var(--accent);
        }









